PORT=8081
DB_HOST=localhost
DB_PORT=3306
DB_NAME=shein
DB_USER=root
DB_PASSWORD=mysql
JWT_SECRET=CHANGE_THIS_SECRET_123
SHEIN_LOCAL_PYTHON=
SHEIN_LOCAL_SCRAPER_CLI=
SHEIN_LOCAL_API_BASE_URL=http://127.0.0.1:8000
